header {
  height: 75px;
  background: #f8fbfe;
}

header > div {
  height: 100%;
}

header .title {
  margin-top: 25px;
  display: inline-block;
}

.content {
  padding-top: 15px;
}

.content .widgets .email-widget-block {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 40px -10px grey;
  box-shadow: 0 0 40px -10px grey;
}

.content .widgets .email-widget-block .description {
  margin-bottom: 20px;
}

.content .widgets .email-widget-block .counters {
  padding: 0;
}

.content .widgets .email-widget-block .counters li:first-child {
  list-style: none;
}

.content .widgets .email-widget-block .counters .counter {
  font-size: 20px;
  font-weight: 100;
}

.content .widgets .email-widget-block .counters small {
  display: block;
}

.content .widgets .email-widget-block .widget-title {
  font-size: 20px;
  text-transform: capitalize;
}

.content .widgets .email-widget-block.active,
.content .widgets .email-widget-block:hover {
  -webkit-box-shadow: 0 0 20px gray;
  box-shadow: 0 0 20px gray;
}

@media (min-width: 992px) {
  .content .graph #date-picker-container {
    margin-top: 30px;
  }
}

